.cars-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.car {
    height: 150px;
    width: 600px;
    border: 1px solid #d6dde5;
    border-radius: 7px;
    margin: 20px;
    margin-top: 0;
    transition: all 0.2s;
    user-select: none;
    background-color: white;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.car:hover {
    box-shadow: 0px 0px 3px 3px #e0e7f3;
    cursor: pointer;
}

.search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-text {
    border: none;
    border-bottom: solid 1px silver;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;    
    font-size: 18px;
    color: grey;
    width: 300px;
    transition: all 0.2s;
}

.input-text:focus {
    color: black;
    border-bottom: solid 1px rgb(64, 125, 205);
}

.wrap-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
}

.search-button {
    position: relative;    
    width: 20px;
    height: 20px;    
    box-sizing: border-box;
    background-color: white;    
    border: 3px solid slategray;
    border-radius: 50%;
    transition: all 0.1s;
}

.wrap-search-button:hover .search-button {
    border-color: rgb(7, 107, 207);
}

.wrap-search-button:hover .search-button:after {
    background-color: rgb(7, 107, 207);
}

.search-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;    
    width: 10px;
    height: 3px;
    background-color: slategray;    
    border-radius: 0 1.5px 1.5px 0;    
    transform-origin: 0 50%;
    transform: translateX(100%) rotate(45deg);
}

.wrap-search-button:active .search-button {
    width: 19px;
    height: 19px;
    margin-left: 1px;
}

.svg-1 {
    position: absolute;
    top: 220px;
    left: -180px;
}

.wrap-car-info {
    width: 70%;
    min-width: 300px;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.main-info-car {
    margin-top: 0;
    font-size: 17px;
    height: 50px;
    width: auto;
    max-width: 150px;
}

.dop-info-car {
    font-size: 10px;
    margin: 0 3px 3px 3px;    
    color: #4d4e4f;
    margin-bottom: 14px;
}


.wrap-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    width: 100%;

}

.wrap-change-button:hover, .wrap-delete-button:hover, .wrap-submit-button:hover, .submit-back:hover, .create-button:hover {
    cursor: pointer;
}

.submit-back {
    width: 150px;
    height: 50px;
    border: solid 2px rgb(101, 157, 198);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-car-info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.info-field {
    margin: 50px;
}

.info-field input {
    border: none;
    height: 30px;
    font-size: 18px;
    border-bottom: solid 1px silver;
    text-align:center;
}

.wrap-submit-button {
    padding: 0 0 0 100px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border: solid 2px rgb(101, 157, 198);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-submit-button {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
}

.create-button {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border: solid 2px rgb(101, 157, 198);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loadMore{
    cursor: pointer;
}